// для настройки бэйбл
{
    "presets": [//нужен набор настроек
        [ "@babel/preset-env", { //настройка
            "useBuiltIns": "usage",
            "corejs": 3// параметры для настройка
        }]
    ]
}